@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.font-english {
  font-family: "Arial Rounded MT Bold";
}

.font-arabic {
  font-family: "Almarai";
}
